// Custom
//@import 'app-mixins';
//@import 'app-variables';

// Ionic
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/_ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/_ionicons';

body {
}

.has-header {
  top: 56px;
}

h3 {
  margin: 10px;
}

div.content {
  padding-bottom: 60px;
}

.bar.bar-positive {
  height: 40px;
  background-color: rgba(0,0,0,0.7);
}

.button-decoder {
  color: #fff;
  background-color: rgba(0,0,0,0.7);

  &.active {
    color: #fff;
    background-color: rgba(0,0,0,0.3);
  }
}

.messageTitle {
  padding-top: 10px;
}

.pane, .view {
  background: url('/img/paper.jpg');
}

.card {
  background-color: transparent;

  .item-divider {
    color: #fff;
    background-color: rgba(0,0,0,0.3);
  }
}

.item-avatar > img:first-child {
  border-radius: 0;
  max-width: 50px;
  max-height: 50px;
  top: 10px;
  left: 10px;
}
