.character {
  img {
    width: 100%;
  }
}

.book {
  text-align: center;

  img {
    width: 90%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
}

.character {
  .item {
    margin-bottom: 0;

    p {
      overflow: visible;
      text-overflow: initial;
      white-space: normal;
      margin-bottom: 10px;
    }
  }
}
