.bar.bar-positive {
  &.bar-footer {
    height: 60px;
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    bottom: 0;
    border: none;
    background-image: none;

    .row {
      padding: 0;

      .col {
        text-align: center;
      }
    }

    .item {
      border: none;
      background-color: transparent;
      margin: 0;
      padding: 0;
    }

    img {
      height: 40px;

      &.shadow {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
