@import "_mixins.scss";

.morse {
  padding: 0 10px;
  min-height: 60px;
}

.morse-input, .caesar-input {
  background-color: rgba(0,0,0,0.1);
  border: none;

  textarea {
    background-color: transparent;

    @include placeholder {
      color: #333;
    }
  }
}

i.show-morse, i.show-caesar {
  float: right;
  font-size: 32px;
}

#message.hidden {
  display: none;
}

.rot {
  position: relative;
  height: 200px;

  &#rot {
    height: 120px;
    overflow: hidden;
  }

  .bigger {
    position: absolute;
  }
  .smaller {
    position: absolute;
  }
}