<template name="boek">
  {{>header back=true title="Het boek"}}
  {{#ionView}}
    {{#ionContent}}
      <div class="book">
        <img src="/img/voorplaat.jpg" />
      </div>
      <div class="list card character">
        <div class="item item-divider">
          De Onbekende Wereld
        </div>
        <div class="item">
          <p>
            Een superspannend boek over drie vrienden, die elkaar vinden doordat ze gedwongen worden om met elkaar samen te werken.
            Ze zijn hierna onafscheidelijk. Ze begrijpen elkaar en hun ‘rare’ eigenschappen.
          </p>
          <p>
            Door puur toeval komen ze achter een enorm geheim en proberen dit op te lossen. Zal ze dat lukken?
          </p>
          <p>
            Het boek biedt de mogelijkheid om met de kinderen mee te puzzelen. Ook heeft het boek een app, waarmee je met
            je vrienden in de echte wereld geheime berichten kunt versturen.
          </p>
          <p>
            De illustraties mag je zelf verder verfraaien, het is absoluut de bedoeling dat je tekent in je boek.
            Maar het is natuurlijk geen probleem als je het liever zo houdt zoals wij het hebben gemaakt.
            Ook bevat het boek soms twee dezelfde pagina’s. Je mag dus ook gewoon in het boek knippen.
            Kortom: een heel interactief boek, waarbij je zo actief mag zijn als je zelf wilt! Durf jij het aan?
          </p>
            <p>
                Koop het boek in de winkel van HB Begeleiding: <a href="http://www.hbbegeleiding.nl/winkel/">http://www.hbbegeleiding.nl/winkel/</a>.
            </p>
        </div>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
