<template name="caesar_decode">
  {{>header back=true}}
  {{#ionView}}
    {{#ionContent}}
      <h3 class="messageTitle">De Caesarcijfer</h3>
      <div id="rot" class="rot">
        <div class="bigger">
          <img src="/img/caesar2_bigger.svg" id="bigger" style="width: 100%; height: 100%"/>
        </div>
        <div class="smaller">
          <img src="/img/caesar2_smaller.svg" id="smaller" style="width: 100%; height: 100%; transform: rotate({{getRotation}}deg); transform-origin: 50% 50% 0px;"/>
        </div>
      </div>
      <div class="list">
        <label class="item item-input caesar-input">
          <textarea rows="5" id="caesar" placeholder="Typ hier je caesar code..."></textarea>
        </label>
      </div>

      <h3>Caesarcijfer cirkel<i class="{{#if showCaesar}}ion-eye{{else}}ion-eye-disabled{{/if}} show-caesar"></i></h3>
      <div class="row">
        <div class="col">
          <div class="rot">
            <div class="bigger">
              <img src="/img/caesar2_bigger.svg" id="bigger" style="width: 100%; height: 100%"/>
            </div>
            <div class="smaller">
              <img src="/img/caesar2_smaller.svg" id="smaller" style="width: 100%; height: 100%; transform: rotate({{getRotation}}deg); transform-origin: 50% 50% 0px;"/>
            </div>
          </div>
        </div>
        <div class="col">
          <div id="message" class="{{#unless showCaesar}}hidden{{/unless}}"></div>
        </div>
      </div>
    {{/ionContent}}
  {{/ionView}}
  {{> footer}}
</template>
