<template name="caesar">
  {{>header back=true}}
  {{#ionView}}
    {{#ionContent}}
      <h3 class="messageTitle">Je boodschap</h3>
      <div id="rot" class="rot">
        <div class="bigger">
          <img src="/img/caesar2_bigger.svg" id="bigger" style="width: 100%; height: 100%"/>
        </div>
        <div class="smaller">
          <img src="/img/caesar2_smaller.svg" id="smaller" style="width: 100%; height: 100%; transform: rotate({{getRotation}}deg); transform-origin: 50% 50% 0px;"/>
        </div>
      </div>
      <div class="list">
        <label class="item item-input morse-input">
          <textarea rows="5" id="message" placeholder="Typ hier je bericht..."></textarea>
        </label>
      </div>

      <h3>Caesarcijfer</h3>
      <div class="morse" id="caesar"></div>
      {{#if allowSharing}}
      <div class="row">
        <div class="col">
          <button class="button button-block button-decoder caesar-share">
            <i class="icon ion-share"></i>
          </button>
        </div>
      </div>
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
  {{> footer}}
</template>
