<template name="fred">
  {{>header back=true title="Fred"}}
  {{#ionView}}
    {{#ionContent}}
      <div class="character">
        <img src="/img/fred.svg" />
      </div>
      <div class="list card character">
        <div class="item item-divider">
          Frederique
        </div>
        <div class="item">
          <p>
            wil het liefst Fred genoemd worden. Doet het liefst zo min mogelijk op school. Ze houdt van spanning, mysteries en codes ontcijferen.
          </p>
        </div>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
