<template name="home">
    {{>header back=false}}
    {{#ionView}}
        {{#ionContent}}
          <div class="list card">
            <div class="item item-divider">
              Code maken
            </div>
              {{#ionItem avatar=true class="my-class" id="my-id" path="morse"}}
                <img src="/img/morse.svg"/>

                <h2>Morse code maken</h2>

                <p>Vul een code in en stuur het op</p>
              {{/ionItem}}
              {{#ionItem avatar=true class="my-class" id="my-id" path="caesar"}}
                <img src="/img/caesar2.svg"/>

                <h2>Caesar code maken</h2>

                <p>Vul een code in en stuur het op</p>
              {{/ionItem}}
          </div>
          <div class="list card">
            <div class="item item-divider">
              Code breken
            </div>
              {{#ionItem avatar=true class="my-class" id="my-id" path="morse_decode"}}
                <img src="/img/morse.svg"/>

                <h2>Morse code breken</h2>

                <p>Vul de code in en ontcijfer het</p>
              {{/ionItem}}
              {{#ionItem avatar=true class="my-class" id="my-id" path="caesar_decode"}}
                <img src="/img/caesar2.svg"/>

                <h2>Caesar code breken</h2>

                <p>Vul de code in en ontcijfer het</p>
              {{/ionItem}}
          </div>
        {{/ionContent}}
    {{/ionView}}
    {{> footer}}
</template>