<template name="jas">
  {{>header back=true title="Jas"}}
  {{#ionView}}
    {{#ionContent}}
      <div class="character">
        <img src="/img/jas.svg" />
      </div>
      <div class="list card character">
        <div class="item item-divider">
          Jas
        </div>
        <div class="item">
          <p>
            heet eigenlijk Jasper. Is heel gevoelig. Als hij schrikt of als er iets gebeurt waar hij geen rekening mee heeft gehouden, trekt hij zich het liefst even terug in zijn capuchon of op de wc.
          </p>
        </div>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
