<template name="morse">
    {{>header back=true}}
    {{#ionView}}
        {{#ionContent}}
          <h3 class="messageTitle">Je boodschap</h3>

          <div class="list">
            <label class="item item-input morse-input">
              <textarea rows="5" id="message" placeholder="Typ hier je bericht..."></textarea>
            </label>
          </div>
          <h3>Morse code</h3>

          <div class="row">
            <div class="morse" id="morse"></div>
          </div>
          {{#if allowSharing}}
            <div class="row">
              <div class="col">
                <button class="button button-block button-decoder morse-share">
                  <i class="icon ion-share"></i>
                </button>
              </div>
            </div>
          {{/if}}
        {{/ionContent}}
    {{/ionView}}
    {{> footer}}
</template>
