<template name="morse_decode">
    {{>header back=true}}
    {{#ionView}}
        {{#ionContent}}
          <h3 class="messageTitle">De morse code</h3>
          <div class="list">
            <label class="item item-input morse-input">
              <textarea rows="5" id="morse" placeholder="Typ hier je morse code..."></textarea>
            </label>
          </div>

          <h3>Morse code tabel<i class="{{#if showMorse}}ion-eye{{else}}ion-eye-disabled{{/if}} show-morse"></i></h3>
          <div class="row">
            <div class="col">
              <img src="/img/morse.svg" style="width: 100%; height: 100%"/>
            </div>
            <div class="col">
              <div id="message" class="{{#unless showMorse}}hidden{{/unless}}"></div>
            </div>
          </div>
        {{/ionContent}}
    {{/ionView}}
    {{> footer}}
</template>
