<template name="sas">
  {{>header back=true title="Sas"}}
  {{#ionView}}
    {{#ionContent}}
      <div class="character">
        <img src="/img/sas.svg" />
      </div>
      <div class="list card character">
        <div class="item item-divider">
          Sas
        </div>
        <div class="item">
          <p>
            heet eigenlijk Saskia. Woont naast Jas. Is superenthousiast en houdt erg van nieuwe dingen. Ze is als een koele zeebries op een warme zomerdag. Altijd fijn als ze er is.
          </p>
        </div>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
