<template name="footer">
  <div class="bar bar-footer bar-positive">
    <!--div class="title">&copy; HBBegeleiding, 2015</div-->
    <div class="row">
      <div class="col">
        {{#ionItem path="boek"}}
          <img src="/img/voorplaat.jpg" class="shadow" />
        {{/ionItem}}
      </div>
      <div class="col">
        {{#ionItem path="sas"}}
          <img src="/img/sas.svg" />
        {{/ionItem}}
      </div>
      <div class="col">
        {{#ionItem path="jas"}}
          <img src="/img/jas.svg" />
        {{/ionItem}}
      </div>
      <div class="col">
        {{#ionItem path="fred"}}
          <img src="/img/fred.svg" />
        {{/ionItem}}
      </div>
    </div>
  </div>
</template>