<template name="header">
    {{#if back}}
        {{#contentFor "headerButtonLeft"}}
            {{>ionNavBackButton text="Terug"}}
        {{/contentFor}}
    {{/if}}

    {{#contentFor "headerTitle"}}
      <h1 class="title">{{#if getTitle}}{{getTitle}}{{else}}De Code R{{/if}}</h1>
    {{/contentFor}}
</template>
